@charset "ISO-8859-1";

.wrapper-card {
	display: flex;
	justify-content: center;
}

.card-container {
	background-color: #231E39;
	border-radius: 25px;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
	color: #B3B8CD;
	padding: 30px 0 0;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
	margin: 20px 0;
	overflow: hidden;
}

.card-container .pro {
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.card-container img {
	border: 1px solid #C400D7;
	border-radius: 50%;
	padding: 7px;
	height: 150px;
	width: 150px;
}

.card-container .card-username {
	margin: 10px 0;
}

.card-fullname {
	margin: 5px 0;
	text-transform: uppercase;
}

.card-subtitle {
	font-size: 14px;
	line-height: 21px;
}

.btn-upload-new-avatar, .btn-submit {
	background-color: #C400D7;
	border: 1px solid #C400D7;
	border-radius: 3px;
	color: #fff;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

.primary.ghost {
	background-color: transparent;
	color: #C400D7;
}

.skills {
	background-color: #1F1A36;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

.avatar-user {
	width: 50px;
	cursor: pointer;
}

.avatar-user>img {
	width: 100%;
	height: 100%;
}
.form-upload-img {
	display: none;
}